@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Manufacturing+Consent&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: Cormorant;
    font-size: 2vh;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 16px;
}
.book {
    border-left: 7px solid #6495ed;
    background-color: #fff;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.3);
    padding: 30px 20px;
    min-height: 200px;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button {
    margin: 16px;
    background-color: #1193d6;
    border-radius: 50px;
    color: #fff;
    border-style: none;
    font-size: 1.7vh;
    padding: 1vw 3vw;
}
#submit-button {
    margin-left: 0;
}
.book-title {
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Manufacturing Consent";
    font-size: 1.5em;
}

.book-id {
    font-size: 0.7em;
    font-style: italic;
    color:gray;
}